.rootBox {
    -fx-padding: 10px;
}

.manageView {
}

.innerRootBox {
    -fx-padding: 30px 60px;
}

.listBoxWrapper {
    -fx-padding: 20px 0;
}

.textField {
    -fx-prompt-text-fill: #777;
}

.searchField {
    -fx-padding: 5px 0 5px 38px;
}

.searchFieldIconWrapper {
    -fx-padding: 0 0 1px 12px;
    -fx-max-width: 50px;
    -fx-alignment: center-left;
}

.searchFieldWrapper {
    -fx-padding: 20px 0 0 0;
}