.rootBox {
    -fx-padding: 10px;
}

.findView .innerRootBox {
    -fx-padding: 30px 60px;
}

.findView .backIconWrapper {
    -fx-padding: 10px;
}

.findView .backIconWrapper:hover {
    -fx-opacity: 0.5;
}

.findView .text-field {
    -fx-prompt-text-fill: #777;
}

.findView .searchField {
    -fx-padding: 5px 0 5px 38px;
}

.findView .searchFieldIconWrapper {
    -fx-padding: 0 0 1px 12px;
    -fx-max-width: 50px;
    -fx-alignment: center-left;
}