.rootBox {
    -fx-padding: 10px;
}

.findView .innerRootBox {
    -fx-padding: 30px 60px;
}

.findView .backIconWrapper {
    -fx-padding: 10px;
}

.findView .backIconWrapper:hover {
    -fx-opacity: 0.5;
}

.findView .text-field {
    -fx-prompt-text-fill: #777;
}

.findView .searchField {
    -fx-padding: 5px 0 5px 38px;
}

.findView .searchFieldIconWrapper {
    -fx-padding: 0 0 1px 12px;
    -fx-max-width: 50px;
    -fx-alignment: center-left;
}

.findView .searchResultParcelIdLeftBox {
    -fx-fill: #007bff;
    -fx-arc-height: 10px;
    -fx-arc-width: 10px;
}

.findView .searchResultParcelId {
    -fx-text-fill: #fff;
    -fx-font-size: 20px;
}

.findView .searchResultParcelDetails {
    -fx-padding: 10px;
    -fx-background-radius: 5px;
    -fx-background-color: #333;
    -fx-spacing: 10px;
}

.findView .searchResultParcelDescription {
    -fx-font-size: 15px;
}

.findView .searchResultParcelDetailsInnerBox {
    -fx-spacing: 25px;
    -fx-padding: 10px 5px 5px 5px;
}

.findView .searchResultParcelDetailsSeparator {
    -fx-padding: 0 10px;
}

.findView .searchResultParcelDetailsSeparator .line {
    -fx-border-color: #444;
}

.findView .searchResultFieldTitle {
    -fx-font-weight: 700;
}