.rootBox {
    -fx-padding: 10px;
}

.findView .innerRootBox {
    -fx-padding: 30px 60px;
}

.findView .backIconWrapper:hover {
    -fx-opacity: 0.5;
}

.findView .text-field {
    -fx-prompt-text-fill: #777;
}